<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body>
   <form class="navbar-form navbar-right" id="header-form" role="form" method="post" action="/riderLogin">
   <div class="lt-left">
   <div class="form-group">
   <label for="exampleInputEmail2">Email</label><br>
   <input type="email" class="form-control input-sm" id="exampleInputEmail2" placeholder="Email or Phone" name="email" required>
   </div>
   <div class="form-group">
   <label for="exampleInputPassword2">Password</label><br>
   <input type="password" class="form-control input-sm" id="exampleInputPassword2" placeholder="Password" name="password" required>
   </div>
   
   </div>
   <div class="lt-right">
 <button type="submit" class="login-btn">SIGN IN</button>
   </div>
 </form>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </body>
    
</html>